{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom css -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/popper.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/Chart.min.js" %}'></script>
</head>
<body>
{% include "main/header.html" %}
    <h4>Выберите:</h4>
{#    <a href="index.html"><h1>На главную страницу</h1></a>#}
    Тест Front-End'а:
    <ul>
        <li><a href='admin'>Панель администратора</a></li>
        <li><a href='template/jinja2/'>Тест Jinja</a></li>
{#        <li><a href={% url 'signup2'    %}>Профиль пользователя</a></li>#}
    </ul>
{% block content %}
    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        {# <p>Resize this responsive page to see the effect!</p> #}
        <p>10 случайных слов с <a href="https://raw.githubusercontent.com/sindresorhus/mnemonic-words/master/words.json">этого ресурса</a>:</p>
        {% for i in some_data %}
            {{ i }}
        {% endfor %}
    </div>
{% endblock %}
{% include "main/footer.html" %}
</body>
</html>