<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<h3>Тесты для FrontProject:</h3>
<h4>
{#    /frontend/templates/frontend/main/index_front.html'#}
    <ul>
        <li><a href='admin'>Панель администратора</a></li>
        <li><a href={% url 'create' %}>Новый пользователь</a></li>
        <li><a href={% url 'login' %}>Регистрация пользователя</a></li>
        <li><a href={% url 'all_users' %}>Просмотр всех пользователей</a></li>
        <li><a href={% url 'detail' 2 %}>Подробный отчет по 2-му пользователю</a></li>
        <li><a href={% url 'front' %}>Тест header, footer, bootstrap</a></li>
        <li><a href={% url 'report' %}>Пример отчета (гистограмма)</a></li>
        {#        <li><a href='/jinja_app/templates/'>Тест Jinja Template</a></li>#}
        {#        <li><a href='template/django/'>Тест Django Template</a></li>#}
        {#        <li><a href='template/django/'>Тест Django Template</a></li>#}
        {#    <li><a href= {% url 'jinja2' %}>Тест Jinja</a></li>#}

    </ul>
</h4>

</body>
</html>